/*#de6061*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
body{
	background: #fbe8c7;
	font-family: 'PT Sans Narrow', sans-serif;
	background: url(../images/spring.png);
	transition: all .5s ease-out;
	animation: shadow  55s infinite;
}



strong{
	padding: 5px 5px;
	background: #de6061;
	color: #fefefe;
	display: inline-block;
}

.title{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}

.wrapper{
	width: 65%;
	margin: 0 auto;
	font-size: 24px;
	color: #3d3d3d;
	line-height: 35px;
}


@keyframes shadow {
from {background-position: left center}
50% {background-position: center center}
to {background-position: right center}
}



@media (max-width: 400px) {
	.wrapper{
		width: 90%;
	}
	@keyframes shadow {
	from {background-position: 0 center}
	50% {background-position: 150% center}
	to {background-position: 250			% center}
	}
}